<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="'Subscription ' + ${status}"></title>
</head>
<body>
    <h2 th:text="'Dear ' + ${lastname} + ','"></h2>
    <p>
        <span th:if="${status == 'APPROVED'}">
            We are pleased to inform you that your subscription request has been successfully <strong>approved</strong>.
        </span>
        <span th:if="${status == 'REJECTED'}">
            We regret to inform you that your subscription request has <strong>not been approved</strong> at this time.
        </span><br>
        Best regards,
    </p>
</body>
</html>
